/* height: 100%; in body, html, #container
   to show the background-image on fullscreen */

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

#container {
    display: flex;
    height: 100%;
    /* width: 60%; */
}

#page1 {
    width: 60%;
}

#leftArrowContainer,
#rightArrowContainer {
    margin: auto 5px;
    width: 20%;
}

#leftArrowContainer {
    text-align: -webkit-right;
}

#leftArrow,
#rightArrow {
    color: #056839;
    font-size: 6vw;
    cursor: pointer;
    background-color: Transparent;
    border: none;
    outline: none;
    opacity: 0.1;
    font-size: 15vw;
}

#leftArrow {
    text-shadow: -3px 3px 5px black;
    text-align: -webkit-right;
}

#rightArrow {
    text-shadow: 3px 3px 5px black;
}

#leftArrow:hover,
#rightArrow:hover {
    opacity: 1;
}

/* mobile version */

#imageContainer {
    width: 100%;
    background-image: url('Pictures/page1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}

/* desktop version */
@media only screen and (min-width: 1024px) {
    #imageContainer {
        margin: 5%;
    }
    #leftArrow,
    #rightArrow {
        font-size: 10vw;
    }
    #leftArrow {
        margin-left: 8.5rem;
    }
    #rightArrow {
        margin-right: 8.5rem;
    }
}